
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('about') %></h3>
  <div class="widget">
    <div class="myimage"></div>
    <p class="mywords"><%= theme.mywords %></p>
    <div class="list-i">
      <a href="<%= theme.weibourl %>" target="_blank" >
        <i class="fa fa-weibo" aria-hidden="true"></i>
      </a>
      <a href="<%= theme.githuburl %>" target="_blank" >
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="<%= theme.facebookurl %>" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="<%= theme.zhihuurl %>" target="_blank">
        <i class="fa">知</i>
      </a>
    </div>
  </div>
</div>
